Additional option for base62 file names

Would it makes sense to add the base62 encoding for file names besides of base64 ? I quick research show up already existing code for golang.

I prefer clean namings even of the encrypted files and folders. The base64 encoding has some different implementations for two characters outside of the alpha-nums. Here with gocryptfs the characters "-" and "_" are used, which is a good choice. But I prefer even to get rid of this...

Or would these be too confusing ?

No, I would not want to add an alternative encoding.

gocryptfs uses the *Base 64 Encoding with URL and Filename Safe Alphabet* from [RFC4648 section 5](https://tools.ietf.org/html/rfc4648#section-5). The characters "-" and "_" have specifically been chosen because they work on all file systems and even in URLs.